version: "3.9"

services:
  backend:
    image: todo-backend
    container_name: todo-backend
    ports:
      - "5000:5000"
    env_file:
      - .env

  frontend:
    image: todo-frontend
    container_name: todo-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
